body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: black;
  font-size: 12px;
  padding-top: 25px;
  padding-left: 25px;
}

.left-text {
  width: 50%;
  margin-bottom: 1rem;
}

.index-container {
  clear: both;
  width: 80%;
  margin: 2rem auto;
}

.index-line {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}

.index-line span {
  flex-basis: 20%;
  text-align: left;
}

.index-line .center-left {
  text-align: left;
}

.index-line .center-right {
  text-align: right;
}

.index-line .right {
  text-align: right;
}
